# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build / dist
build/
dist/
*.egg-info/

# Nếu có file upload / data tạm không muốn đẩy lên git
# data/

*.lock